<section class ={{wrapper}}>
<calendarContainer>
    <calendarRow>
	<calendarViewMain>
        
		<logoHeader>{{logo-tile logo=true}}</logoHeader>
		<dayTileHeader>{{day-tile header=true redDay = true day="Sunday"}}</dayTileHeader>
		<dayTileHeader>{{day-tile header=true day="Monday"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=true redDay = true day="Tuesday"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=true day="Wednesday"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=true redDay = true day="Thursday"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=true day="Friday"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=true redDay = true day="Saturday"}}</dayTileHeader>

                
	</calendarViewMain>

	<calendarViewCoaches>
		{{coach-sidebar header = true}}
	</calendarViewCoaches>

        </calendarRow>
    <calendarRow>
	<calendarViewMain>
        
		<logoHeader>{{logo-tile logo=false}}</logoHeader>
                                         <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
		<dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>

                
	</calendarViewMain>

	<calendarViewCoaches>
		{{coach-sidebar header = false}}
	</calendarViewCoaches>
    </calendarRow>
      <calendarRow>
    <calendarViewMain>
        
		<logoHeader>{{logo-tile logo=false}}</logoHeader>
                                         <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
		<dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>

                
	</calendarViewMain>

	<calendarViewCoaches>
		{{coach-sidebar header = false}}
	</calendarViewCoaches>
      </calendarRow>
      <calendarRow>
    <calendarViewMain>
        
		<logoHeader>{{logo-tile logo=false}}</logoHeader>
                                         <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
		<dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>

                
	</calendarViewMain>

	<calendarViewCoaches>
		{{coach-sidebar header = false}}
	</calendarViewCoaches>
      </calendarRow>
      <calendarRow>
    <calendarViewMain>
        
		<logoHeader>{{logo-tile logo=false}}</logoHeader>
                                         <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
		<dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false day="NEED DATABASE"}}</dayTileHeader>
                                        <dayTileHeader>{{day-tile header=false redDay = true day="NEED DATABASE"}}</dayTileHeader>

                
	</calendarViewMain>

	<calendarViewCoaches>
		{{coach-sidebar header = false}}
	</calendarViewCoaches>
	  </calendarRow>
     
	</calendarContainer>
</section>