<!-- This page is populated by calls to the logo-tile, day-tile, and coach-sidebar components. It forms the calendar page for the admins to see.-->
<!-- NEED DATABASE is a placeholder that will eventually be filled by calls to the API to fill those dates with classes-->

<section class ={{wrapper}}>
<calendarContainer>
    <calendarRow>
	<calendarViewMain>
        
		{{logo-tile logo=true}}
		{{day-tile header=true redDay = true day="Sunday"}}
		{{day-tile header=true day="Monday"}}
                                        {{day-tile header=true redDay = true day="Tuesday"}}
                                        {{day-tile header=true day="Wednesday"}}
                                        {{day-tile header=true redDay = true day="Thursday"}}
                                        {{day-tile header=true day="Friday"}}
                                        {{day-tile header=true redDay = true day="Saturday"}}

                
	</calendarViewMain>

	
		{{coach-sidebar header = true}}
	

        </calendarRow>
    
    
    <calendarRow>
                {{calendar-view-main thisWeek = true}}

	
		{{coach-sidebar header = false}}
	
    </calendarRow>
    
    
      <calendarRow>

                {{calendar-view-main weekTwo = true}}
	
		{{coach-sidebar header = false}}
	
      </calendarRow>
      <calendarRow>
               {{calendar-view-main weekThree = true}}

	
		{{coach-sidebar header = false}}
	
      </calendarRow>
      <calendarRow>
                {{calendar-view-main weekFour = true}}
	
		{{coach-sidebar header = false}}
	
	  </calendarRow>
     
	</calendarContainer>
</section>