<!-- The Coach's page. The only page coach's can see, will control what the user can see based on if they are an admin or not, as well as displaying class information and profile information-->
<!-- Again, NEED DATABASE is a placeholder-->
<div class ="coachWrapper">
    
   
    <div class ="coachLeftSide">                     <!--For left side of screen. Bio, hour tracker-->
        {{bio-box name=coach.name email=coach.email picture=coach.picture}}                                  <!--ADD BOOLEAN TO HANDLEBAR CALL LATER-->
       {{hour-tracker}}
       
    </div>
    
    
    <div class="coachCalendar">                      <!--For calendar, subscribe button. -->
        
        <div class="coachCalendarRow">
            {{logo-tile coachLogo=true }}
            {{coach-day header=true day="Sunday"}}
            {{coach-day header=true day="Monday"}}
            {{coach-day header=true day="Tuesday"}}
            {{coach-day header=true day="Wednesday"}}
            {{coach-day header=true day="Thursday"}}
            {{coach-day header=true day="Friday"}}
            {{coach-day header=true day="Saturday"}}
        </div>

        <div class ="coachCalendarRow">
		{{#if (dayCheck (format-date 'dddd')  'Sunday') }}
                {{logo-tile logo=false date=(format-date) }}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}


                {{else if (dayCheck (format-date 'dddd')  'Monday') }}
                {{logo-tile logo=false date=(format-date 'subtractTime' 1) }}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}

                {{else if (dayCheck (format-date 'dddd')  'Tuesday') }}
                {{logo-tile logo=false date=(format-date 'subtractTime' 2) }}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}

                {{else if (dayCheck (format-date 'dddd')  'Wednesday')}}
                {{logo-tile logo=false date=(format-date 'subtractTime' 3)}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}



                {{else if (dayCheck (format-date 'dddd')  'Thursday') }}
                {{logo-tile logo=false date=(format-date 'subtractTime' 4) }}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}

                {{else if (dayCheck (format-date 'dddd')  'Friday') }}
                {{logo-tile logo=false date=(format-date 'subtractTime' 5) }}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}

                {{else if (dayCheck (format-date 'dddd')  'Saturday') }}
                {{logo-tile logo=false date=(format-date 'subtractTime' 6) }}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}

                {{/if}}
        </div>
        
        <div class ="coachCalendarRow">
		{{logo-tile logo=false date=(format-date 'W2' 'Su')}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
        </div>
        
        <div class ="coachCalendarRow">
		{{logo-tile logo=false date=(format-date 'W3' 'Su')}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
        </div>
        
        <div class ="coachCalendarRow">
		{{logo-tile logo=false date=(format-date 'W4' 'Su')}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
                {{coach-day}}
        </div>


                

    </div>
    
    
    <div class="coachRightSide">                         <!--For unsubscribe button, unavailable button.-->
        
    </div>
    
</div>



