{{yield}}

<!-- Left third of coach's page. holds information about the particular coach that is logged in-->
<div class ={{bioWrapper}}>
    <img class="profilePic" src={{picture}}>
</div>

<div class="activeRow">
    <div class ="activityButton">
    
    </div>
    <div class="inactivityButton">
        
    </div>

</div>
<!--<p>{{contact-info joey}}</p>------------------ FOR WHEN THE DATABASE CAN GIVE INFORMATION.-->
<p class = "contactInfo">{{name}} <br>{{email}}</p>