<!--This component is for the sidebar on the right that will hold the coaches for dragging into the schedule-->

{{#if header}}
<div class = {{coachHeaderTile}}>
     <p class="coachTitleBar">Coaches</p>
</div>	
{{else}}
{{#if removeCoach}}
<div class="coachPlate">
    {{#draggable-object content=this}}{{name}}
    <img src="assets/images/removeCoach.png">
    {{/draggable-object}}
    
</div>

{{else}}
<!-- COACH NAME AND INFORMATION TILE-->

<div class ="coachPlate">
    <p class="coachName">{{#draggable-object content=this}}{{name}}{{/draggable-object}}</p>
    
</div>

{{/if}}
{{#if addClass}}
<div class ="coachPlate">
    <p class="coachName">{{#draggable-object content=this}}{{name}}{{/draggable-object}}</p>
    
</div>
{{/if}}


{{/if}}

{{yield}}