<!--This component is for the calendar page's day tiles-->
{{#if header}}
{{#if redDay}}
<div class = {{wrapperSTTS}} id="tile">
    {{day}}
</div>
{{else}}
<div class = {{wrapperMWF}} id="tile">
    {{day}}
</div>
{{/if}}
{{else}} <!--Its not a header tile, populate it with information-->

<!--Eventually will need an if statement to check if there is information that needs to be added to each day.-->
{{#if redDay}}
{{#draggable-object-target action="scheduleInstructor"}}
<div class = {{wrapperEmptySTTS}} id="tile">
    <p class="displayCourse">{{course}}</p>



</div>
{{/draggable-object-target}}
{{else}}
{{#draggable-object-target action="scheduleInstructor"}}
<div class = {{wrapperEmptyMWF}} id="tile">
    <p class ="displayCourse">{{course}}</p>
    


</div>
{{/draggable-object-target}}

{{/if}}
{{/if}}
{{yield}}
