<!--This component is for the calendar page's day tiles-->
{{#if header}}
{{#if redDay}}
<div class = {{wrapperSTTS}} id="tile">
    {{day}}
</div>
{{else}}
<div class = {{wrapperMWF}} id="tile">
    {{day}}
</div>
{{/if}}
{{else}} <!--Its not a header tile, populate it with information-->

<!--Eventually will need an if statement to check if there is information that needs to be added to each day.-->
{{#if redDay}}
<div class = {{wrapperEmptySTTS}} id="tile">
    {{day}}
</div>
{{else}}
<div class = {{wrapperEmptyMWF}} id="tile">
    {{day}}
</div>
{{/if}}
{{/if}}
{{yield}}
