<!--This component is used for the left most column of the calendar page. It will hold the logo if the top row, or week dates otherwise.-->

{{#if logo}}
<div class={{logoTile}} id="tile">
    <div class ="logo"><img id = "logo" src = "assets/images/logo.png"></div>
</div>
{{else}}
<div class = {{weekTile}} id="tile">
    Week Of <br> {{currentDate}}
</div>
{{/if}}
{{yield}}
